.btn {
  padding: 15px 25px;
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: rgb(251, 252, 254);
  background-color: rgb(186, 66, 112);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  border-radius: 24px;
}

.btn:hover {
  background-color: rgb(218, 109, 151);
}

.btn:active {
  background-color: rgb(186, 66, 112);
  opacity: 0.5;
}

.form__input {
  padding: 15px 27px;
  padding-right: 158px;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(54, 83, 107, 0.5);
  background-color: rgb(251, 252, 254);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  border-radius: 24px;
  outline: none;
}

.form__btn {
  position: relative;
  left: -45px;
}

.form__input::placeholder {
  color: rgba(54, 83, 107, 0.5);
}




.site-form__label {
  display: block;
}

.site-form__input {
  margin-bottom: 24px;
  padding-left: 20px;
  padding-bottom: 16px;
  padding-right: 320px;
  font-family: 'Public Sans';
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: rgba(54, 83, 107, 0.5);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 83, 107, 0.5);
}

.massage {
  padding-bottom: 63px;
}

.check-box {
  display: flex;
  align-items: center;
}

.check {
  width: 24px;
  height: 24px;
  background-color: rgba(54, 83, 107, 0.25);
  border: none;
  cursor: pointer;
}

.check:checked {
  color: rgba(186, 66, 112, 1);
  background-color: rgba(186, 66, 112, 1);
}

.check-text {
  width: 35%;
  margin-left: 26px;
  display: inline-block;
  font-family: 'Public Sans';
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: rgb(54, 83, 107);
}

.site-form__btn {
  margin-top: 24px;
  padding: 15px 50px;
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: rgb(54, 83, 107);
  background-color: transparent;
  border: 1px solid rgb(54, 83, 107);
  border-radius: 24px;
  cursor: pointer;
}

.site-form__btn:hover {
  color: rgb(251, 252, 254);
  background-color: rgb(54, 83, 107);
}




@include breakpoint-down (600px) {
  .form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form__btn {
    position: static;
    margin-top: 16px;
    padding: 15px 117px;
  }
}

@include breakpoint-down (400px) {
  .form__input {
    padding-right: 80px;
  }

  .form__btn {
    padding: 15px 75px;
  }
}




@include breakpoint-down (1000px) {
  .check-text {
    width: 60%;
  }
}

@include breakpoint-down (800px) {
  .site-form__input {
    padding-right: 250px;
  }
}

@include breakpoint-down (500px) {
  .site-form__input {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 150px;
  }

  .check-text {
    width: 85%;
    margin-left: 16px;
  }
}

@include breakpoint-down (400px) {
  .site-form__input {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 100px;
  }
}