.btn {
  padding: 15px 25px;
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: rgb(251, 252, 254);
  background-color: rgb(186, 66, 112);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  border-radius: 24px;
}

.btn:hover {
  background-color: rgb(218, 109, 151);
}

.btn:active {
  background-color: rgb(186, 66, 112);
  opacity: 0.5;
}

.form__input {
  padding: 15px 27px;
  padding-right: 158px;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(54, 83, 107, 0.5);
  background-color: rgb(251, 252, 254);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  border-radius: 24px;
}

.form__btn {
  position: relative;
  left: -45px;
}

.form__input::placeholder {
  color: rgba(54, 83, 107, 0.5);
}

@include breakpoint-down (600px) {
  .form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form__btn {
    position: static;
    margin-top: 16px;
    padding: 15px 127px;
  }
}

@include breakpoint-down (400px) {
  .form__input {
    padding-right: 80px;
  }

  .form__btn {
    padding: 15px 85px;
  }
}