.info__inner {
  padding-bottom: 100px;
  text-align: center;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__item {
  position: relative;
  width: 30%;
}


.info__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.138462px;
  color: #36536B;
}

.personal::before {
  width: 106px;
  height: 106px;
  margin-bottom: 32px;
  position: relative;
  left: calc(50% - 58px);
  top: 0;
  display: block;
  background-image: url("../../img/personal.png");
  background-repeat: no-repeat;
  background-size: 106px 106px;
  content: " ";
}

.banking::before {
  width: 106px;
  height: 106px;
  margin-bottom: 32px;
  position: relative;
  left: calc(50% - 58px);
  top: 0;
  display: block;
  background-image: url("../../img/banking.png");
  background-repeat: no-repeat;
  background-size: 106px 106px;
  content: " ";
}

.consumer::before {
  width: 106px;
  height: 106px;
  margin-bottom: 32px;
  position: relative;
  left: calc(50% - 58px);
  top: 0;
  display: block;
  background-image: url("../../img/consumer.png");
  background-repeat: no-repeat;
  background-size: 106px 106px;
  content: " ";
}



.info__text {
  margin: 0;
  font-family: 'Public Sans';
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #6C8294;
}

@include breakpoint-down (680px) {
  .info__list {
    flex-direction: column;
    text-align: center;
  }

  .info__item {
    width: 90%;
    margin-bottom: 48px;
  }
}
