.simple {
  background-image: url(../../img/simple-bg.png);
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: left calc(50% + 690px) top;
}

.simple__inner {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple__content {
  width: 40%;
}

.simple__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: rgb(54, 83, 107);
}

.simple__text {
  margin: 0;
  font-family: 'Public Sans';
  font-size: 15px;
  line-height: 28px;
  color: rgb(108, 130, 148);
}

.simple__img-group {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple__img {
  width: 245px;
  height: 500px;
  border-radius: 32px;
}

@include breakpoint-down (1020px) {
  .simple__img {
    width: 215px;
    height: 460px;
  }
}


@include breakpoint-down (900px) {
  .simple__inner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .simple__img-group {
    width: 80%;
    justify-content: space-around;
  }

  .simple__content {
    width: 575px;
    margin-top: 48px;
  }
}

@include breakpoint-down (770px) {
  .simple {
    background-image: none;
  }
  .simple__img-group {
    width: 365px;
    justify-content: space-between;
  }
  .simple__img {
    width: 168px;
    height: 320px;
    border-radius: 25px;
  }

  .simple__content {
    width: 475px;
  }
}

@include breakpoint-down (500px) {
  .simple__img-group {
    width: 328px;
  }

  .simple__img {
    width: 152px;
    height: 290px;
    border-radius: 22px;
  }

  .simple__content {
    width: 328px;
  }

  .simple__heading {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.276923px;
  }
}

@include breakpoint-down (380px) {
  .simple__img-group {
    width: 290px;
  }

  .simple__img {
    width: 142px;
    height: 280px;
    border-radius: 22px;
  }

  .simple__content {
    width: 290px;
  }
}
